header {
    display: flex;
}

nav {
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
}

/* Style The Dropdown Button */
.dropbtnb {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropbtnb:hover {
    background-color: #EE7717;
    color: white;
}

.dropbtn {
    color: #0c870c;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #C6C6C5;
}

.dropbtnr {
    color: red;
}

.dropbtno {
    color: #ff9c00;
}

.dropbtn:hover {
    background-color: #EE7717;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownitem:hover {
    background-color: #EE7717;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #EE7717}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #EE7717;
}

#dropdown01:hover {
    background-color: #EE7717;
}

body {
    background-color: rgb(223, 223, 223);
    height: 620px;
}

#main_contain {
    height: 520px;
    display: flex;
    justify-content: space-between;
}

section_1 section_2 section_3 {
    display: flex;
}

.zone {
    padding-top: 4%;
}

navbar nav li {
    width: 20%;
}

.carte {
    padding-top: 1%;
    padding-left: 26%;
    margin-left: -28%;
}

footer {
    margin-top: 100px;
    background-color: white;
    color: black;
    display: flex;
    width: 100%;
}

.dropdown {
    margin-left: 4%;
}

.orange {
    width: 4%;
}

.ACS {
    width: 12%;
    margin-left: 68%;
}

.fimu {
    height: 84%;
}

.twitter {
    margin-left: 700px;
    padding-top: 2%;
}

.Facebook {
    padding-top: 22%;
}

.logos {
    margin-left: 68%;
}

.copyright {
    margin-left: 98%;
    padding-top: 4%;
}

.micro {
    height: 50px;
    margin-left: 14px;
    background-color: #C6C6C5;
    padding-left: 10px;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

.cadres {
    background-color: #C6C6C5;
}

p {
    padding-top: 20px;
    padding-left: 15px;
}